html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body{
    background: linear-gradient(rgb(221, 134, 221), rgb(248, 143, 248),rgb(250, 116, 250), rgb(252, 93, 252), rgb(253, 67, 253), rgb(252, 59, 252));
    background-repeat:no-repeat;
    background-attachment: fixed;
}

header{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    padding: 10px;
}

header h1{
    font-size: 45px;
    margin-top: 5px;
    /*color: white;*/
}

header h1::before{
    content: "🧁";
}

header h1::after{
    content: "🐾";
}

#subtitulo-header{
    font-size: 42px;
    margin-bottom: 10px;
}

header p{
    font-size: 25px;
    margin-bottom: 50px;
}

main{
    width: 940px;
    margin: 0 auto;
}

.historia h2{
    font-size: 25px;
}

.historia p{
    font-size: 18px;
    padding-top: 8px;
}

.produtos{
    margin: 0 auto;
    padding: 50px 0;
}

.produtos h2{
    font-size: 25px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 33%;
    /*vertical-align: top;*/
    padding: 10px 5px;
    box-sizing: border-box;
    border: 2px dashed black;
    border-radius: 15px;
}

.produtos li:hover{
    border-color: rgb(255, 255, 255);
    border: 2px solid white;
}

.produtos h3{
    font-size: 22px;
}

.produtos li:hover h3{
    font-size: 30px;
}

.produtos-imagens{
    width: 70%;
}

#imagem-donuts{
    width: 40%;
}

#imagem-docinhos{
    width: 52.5%;
}

.produtos-imagens:hover, #imagem-donuts:hover, #imagem-docinhos:hover{
    transform: scale(1.4);
    border: gold solid 2px;
    transition: all 1s;
}

.produtos-sabores{
    font-size: 18px;
}

.produtos-precos{
    font-size: 18px;
}

.localizacao h2{
    font-size: 25px;
}

footer{
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

footer h2{
    font-size: 25px; 
}

.redes-sociais a img{
    width: 4%;
    padding: 15px 0 15px 0;
    display: inline-block;
}